/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
DEVELOPMENT_GUIDE.md

#core php 

catalog-service-core-php/vendor/
catalog-service-core-php/node_modules/
catalog-service-core-php/npm-debug.log
catalog-service-core-php/yarn-error.log
catalog-service-core-php/.phpunit.result.cache
catalog-service-core-php/public/build
catalog-service-core-php/storage/pail
catalog-service-core-php/.phpactor.json
catalog-service-core-php/auth.json
catalog-service-core-php/config/database.php*.logs
catalog-service-core-php/config/database.php
catalog-service-core-php/core-php-catalog/


.terraform/*
*.logs
logs/*